.Rproj.user
.Rhistory
.RData
.Ruserdata

Wright/attributes_tbl.csv 

# mislabeled filename; code actually for a different dataset
Wright/FireRegime.R

# code from Jeanette and Erika trying to figure out how to programmatically
# handle unique attributes and annotations for large datasets
Wright/Unique-Attributes_Continuous.R

# Ignore all the tif and raster files from Kapsar
Kapsar/Coastal/
Kapsar/10km/
Kapsar/25km/
Kapsar/Hex/

# Ignore all image files from Bondurant
Bondurant/Alaska-River-Ice/Photos/

